[General]
ported_to_new_savepath_system=true

[LegalNotice]
Accepted=true

[AutoRun]
enabled={{ lower (default .Env.QBITTORRENT_ENABLED "false") }}
program="{{ default .Env.QBITTORRENT_PROGRAM "" }}"

[Application]
FileLogger\Enabled=true
FileLogger\Path={{ default .Env.QBITTORRENT_HOME "/data/qbittorrent-home" }}/logs

[BitTorrent]
Session\AnnounceToAllTiers={{ lower (default .Env.QBITTORRENT_SESSION_ANNOUNCETOALLTIERS "true") }}
Session\AsyncIOThreadsCount={{ default .Env.QBITTORRENT_SESSION_ASYNCIOTHREADSCOUNT "4" }}
Session\BTProtocol={{ default .Env.QBITTORRENT_SESSION_BTPROTOCOL "Both" }}
Session\CheckingMemUsageSize={{ default .Env.QBITTORRENT_SESSION_CHECKINGMEMUSAGESIZE "32" }}
Session\ChokingAlgorithm={{ default .Env.QBITTORRENT_SESSION_CHOKINGALGORITHM "FixedSlots" }}
Session\CoalesceReadWrite={{ lower (default .Env.QBITTORRENT_SESSION_COALESCEREADWRITE "false") }}
Session\CreateTorrentSubfolder={{ lower (default .Env.QBITTORRENT_SESSION_CREATETORRENTSUBFOLDER "true") }}
Session\DisableAutoTMMByDefault={{ lower (default .Env.QBITTORRENT_SESSION_DISABLEAUTOTMMBYDEFAULT "true") }}
Session\DisableAutoTMMTriggers\CategoryChanged={{ lower (default .Env.QBITTORRENT_SESSION_DISABLEAUTOTMMTRIGGERSCATEGORYCHANGED "true") }}
Session\DisableAutoTMMTriggers\CategorySavePathChanged={{ lower (default .Env.QBITTORRENT_SESSION_DISABLEAUTOTMMTRIGGERS_CATEGORYSAVEPATHCHANGED "true") }}
Session\DisableAutoTMMTriggers\DefaultSavePathChanged={{ lower (default .Env.QBITTORRENT_SESSION_DISABLEAUTOTMMTRIGGERS_DEFAULTSAVEPATHCHANGED "true") }}
Session\FilePoolSize={{ default .Env.QBITTORRENT_SESSION_FILEPOOLSIZE "40" }}
Session\GlobalMaxSeedingMinutes={{ default .Env.QBITTORRENT_SESSION_GLOBALMAXSEEDINGMINUTES "1440" }}
Session\MultiConnectionsPerIp={{ lower (default .Env.QBITTORRENT_SESSION_MULTICONNECTIONSPERIP "false") }}
Session\PieceExtentAffinity={{ lower (default .Env.QBITTORRENT_SESSION_PIECEEXTENTAFFINITY "false") }}
Session\SeedChokingAlgorithm={{ default .Env.QBITTORRENT_SESSION_SEEDCHOKINGALGORITHM "FastestUpload" }}
Session\SendBufferLowWatermark={{ default .Env.QBITTORRENT_SESSION_SENDBUFFERLOWWATERMARK "10" }}
Session\SendBufferWatermark={{ default .Env.QBITTORRENT_SESSION_SENDBUFFERWATERMARK "500" }}
Session\SendBufferWatermarkFactor={{ default .Env.QBITTORRENT_SESSION_SENDBUFFERWATERMARKFACTOR "50" }}
Session\SlowTorrentsDownloadRate={{ default .Env.QBITTORRENT_SESSION_SLOWTORRENTSDOWNLOADRATE "2" }}
Session\SlowTorrentsInactivityTimer={{ default .Env.QBITTORRENT_SESSION_SLOWTORRENTSINACTIVITYTIMER "60" }}
Session\SlowTorrentsUploadRate={{ default .Env.QBITTORRENT_SESSION_SLOWTORRENTSUPLOADRATE "3" }}
Session\SocketBacklogSize={{ default .Env.QBITTORRENT_SESSION_SOCKETBACKLOGSIZE "30" }}
Session\StopTrackerTimeout={{ default .Env.QBITTORRENT_SESSION_STOPTRACKERTIMEOUT "5" }}
Session\SuggestMode={{ lower (default .Env.QBITTORRENT_SESSION_SUGGESTMODE "false") }}
Session\UPnPLeaseDuration={{ default .Env.QBITTORRENT_SESSION_UPNPLEASEDURATION "0" }}
Session\uTPMixedMode={{ default .Env.QBITTORRENT_SESSION_UTPMIXEDMODE "TCP" }}

[Core]
AutoDeleteAddedTorrentFile={{ default .Env.QBITTORRENT_AUTODELETEADDEDTORRENTFILE "Never" }}

[Preferences]
Advanced\AnnounceToAllTrackers={{ lower (default .Env.QBITTORRENT_ADVANCED_ANNOUNCETOALLTRACKERS "false") }}
Advanced\AnonymousMode={{ lower (default .Env.QBITTORRENT_ADVANCED_ANONYMOUSMODE "true") }}
Advanced\IgnoreLimitsLAN={{ lower (default .Env.QBITTORRENT_ADVANCED_IGNORELIMITSLAN "true") }}
Advanced\IncludeOverhead={{ lower (default .Env.QBITTORRENT_ADVANCED_INCLUDEOVERHEAD "false") }}
Advanced\OutgoingPortsMax={{ default .Env.QBITTORRENT_ADVANCED_OUTGOINGPORTSMAX "0" }}
Advanced\OutgoingPortsMin={{ default .Env.QBITTORRENT_ADVANCED_OUTGOINGPORTSMIN "0" }}
Advanced\RecheckOnCompletion={{ lower (default .Env.QBITTORRENT_ADVANCED_RECHECKONCOMPLETION "false") }}
Advanced\osCache={{ lower (default .Env.QBITTORRENT_ADVANCED_OSCACHE "true") }}
Advanced\trackerEnabled={{ lower (default .Env.QBITTORRENT_ADVANCED_TRACKERENABLED "false") }}
Advanced\trackerPort={{ default .Env.QBITTORRENT_ADVANCED_TRACKERPORT "9000" }}
Bittorrent\AddTrackers={{ lower (default .Env.QBITTORRENT_BITTORRENT_ADDTRACKERS "false") }}
Bittorrent\DHT={{ lower (default .Env.QBITTORRENT_BITTORRENT_DHT "true") }}
Bittorrent\Encryption={{ default .Env.QBITTORRENT_BITTORRENT_ENCRYPTION "0" }}
Bittorrent\LSD={{ lower (default .Env.QBITTORRENT_BITTORRENT_LSD "true") }}
Bittorrent\MaxConnecs={{ default .Env.QBITTORRENT_BITTORRENT_MAXCONNECS "500" }}
Bittorrent\MaxConnecsPerTorrent={{ default .Env.QBITTORRENT_BITTORRENT_MAXCONNECSPERTORRENT "100" }}
Bittorrent\MaxRatio={{ default .Env.QBITTORRENT_BITTORRENT_MAXRATIO "-1" }}
Bittorrent\MaxRatioAction={{ default .Env.QBITTORRENT_BITTORRENT_MAXRATIOACTION "0" }}
Bittorrent\MaxUploads={{ default .Env.QBITTORRENT_BITTORRENT_MAXUPLOADS "8" }}
Bittorrent\MaxUploadsPerTorrent={{ default .Env.QBITTORRENT_BITTORRENT_MAXUPLOADSPERTORRENT "4" }}
Bittorrent\PeX={{ lower (default .Env.QBITTORRENT_BITTORRENT_PEX "true") }}
Bittorrent\TrackersList={{ default .Env.QBITTORRENT_BITTORRENT_TRACKERSLIST "" }}
Bittorrent\uTP_rate_limited={{ lower (default .Env.QBITTORRENT_BITTORRENT_UTP_RATE_LIMITED "true") }}
Connection\alt_speeds_on={{ lower (default .Env.QBITTORRENT_CONNECTION_ALT_SPEEDS_ON "false") }}
Connection\GlobalDLLimit={{ default .Env.QBITTORRENT_CONNECTION_GLOBALDLLIMIT "0" }}
Connection\GlobalDLLimitAlt={{ default .Env.QBITTORRENT_CONNECTION_GLOBALDLLIMITALT "0" }}
Connection\GlobalUPLimit={{ default .Env.QBITTORRENT_CONNECTION_GLOBALUPLIMIT "0" }}
Connection\GlobalUPLimitAlt={{ default .Env.QBITTORRENT_CONNECTION_GLOBALUPLIMITALT "0" }}
Connection\InetAddress={{ default .Env.QBITTORRENT_CONNECTION_INETADDRESS "" }}
Connection\Interface={{ default .Env.QBITTORRENT_CONNECTION_INTERFACE "" }}
Connection\InterfaceAddress={{ default .Env.QBITTORRENT_CONNECTION_INTERFACEADDRESS "0.0.0.0" }}
Connection\InterfaceName={{ default .Env.QBITTORRENT_CONNECTION_INTERFACENAME "" }}
Connection\PortRangeMin={{ default .Env.QBITTORRENT_CONNECTION_PORT "6881" }}
Connection\ProxyOnlyForTorrents={{ lower (default .Env.QBITTORRENT_CONNECTION_PROXYONLYFORTORRENTS "false") }}
Connection\ProxyPeerConnections={{ lower (default .Env.QBITTORRENT_CONNECTION_PROXYPEERCONNECTIONS "false") }}
Connection\ProxyType={{ default .Env.QBITTORRENT_CONNECTION_PROXYTYPE "0" }}
Connection\Proxy\IP={{ default .Env.QBITTORRENT_CONNECTION_PROXY_IP "0.0.0.0" }}
Connection\Proxy\Password="{{ default .Env.QBITTORRENT_CONNECTION_PROXY_PASSWORD "" }}"
Connection\Proxy\Port={{ default .Env.QBITTORRENT_CONNECTION_PROXY_PORT "8080" }}
Connection\Proxy\Username="{{ default .Env.QBITTORRENT_CONNECTION_PROXY_USERNAME "" }}"
Connection\ResolvePeerCountries={{ lower (default .Env.QBITTORRENT_CONNECTION_RESOLVEPEERCOUNTRIES "true") }}
Connection\UseUPnP={{ lower (default .Env.QBITTORRENT_CONNECTION_USEUPNP "true") }}
Downloads\DiskWriteCacheSize={{ default .Env.QBITTORRENT_DOWNLOADS_DISKWRITECACHESIZE "-1" }}
Downloads\DiskWriteCacheTTL={{ default .Env.QBITTORRENT_DOWNLOADS_DISKWRITECACHETTL "60" }}
Downloads\FinishedTorrentExportDir={{ default .Env.QBITTORRENT_HOME "/data/qbittorrent-home" }}/finished
Downloads\PreAllocation={{ lower (default .Env.QBITTORRENT_DOWNLOADS_PREALLOCATION "false") }}
Downloads\SavePath={{ default .Env.QBITTORRENT_DOWNLOAD_DIR "/data/completed" }}
Downloads\SaveResumeDataInterval={{ default .Env.QBITTORRENT_DOWNLOADS_SAVERESUMEDATAINTERVAL "60" }}
Downloads\ScanDirsV2=@Variant(\0\0\0\x1c\0\0\0\x1\0\0\0\x16\0/\0\x64\0\x61\0t\0\x61\0/\0w\0\x61\0t\0\x63\0h\0\0\0\x2\0\0\0\x1)
Downloads\StartInPause={{ lower (default .Env.QBITTORRENT_DOWNLOADS_STARTINPAUSE "false") }}
Downloads\TempPath={{ default .Env.QBITTORRENT_INCOMPLETE_DIR "/data/incomplete" }}
Downloads\TempPathEnabled={{ lower (default .Env.QBITTORRENT_DOWNLOADS_TEMPPATHENABLED "true") }}
Downloads\TorrentExportDir={{ default .Env.QBITTORRENT_HOME "/data/qbittorrent-home" }}/torrents
Downloads\UseIncompleteExtension={{ lower (default .Env.QBITTORRENT_DOWNLOADS_USEINCOMPLETEEXTENSION "false") }}
DynDNS\DomainName={{ default .Env.QBITTORRENT_DYNDNS_DOMAINNAME "changeme.dyndns.org" }}
DynDNS\Enabled={{ lower (default .Env.QBITTORRENT_DYNDNS_ENABLED "false") }}
DynDNS\Password={{ default .Env.QBITTORRENT_DYNDNS_PASSWORD "" }}
DynDNS\Service={{ default .Env.QBITTORRENT_DYNDNS_SERVICE "0" }}
DynDNS\Username="{{ default .Env.QBITTORRENT_DYNDNS_USERNAME "" }}"
General\Locale={{ default .Env.QBITTORRENT_GENERAL_LOCALE "en" }}
General\UseRandomPort={{ lower (default .Env.QBITTORRENT_GENERAL_USERANDOMPORT "false") }}
IPFilter\BannedIPs={{ default .Env.QBITTORRENT_IPFILTER_BANNEDIPS "" }}
IPFilter\Enabled={{ lower (default .Env.QBITTORRENT_IPFILTER_ENABLED "false") }}
IPFilter\FilterTracker={{ lower (default .Env.QBITTORRENT_IPFILTER_FILTERTRACKER "false") }}
IPFilter\File={{ default .Env.QBITTORRENT_IPFILTER_FILE "" }}
MailNotification\email={{ default .Env.QBITTORRENT_MAILNOTIFICATION_EMAIL "" }}
MailNotification\enabled={{ lower (default .Env.QBITTORRENT_MAILNOTIFICATION_ENABLED "false") }}
MailNotification\password="{{ default .Env.QBITTORRENT_MAILNOTIFICATION_PASSWORD "" }}"
MailNotification\req_auth={{ lower (default .Env.QBITTORRENT_MAILNOTIFICATION_REQ_AUTH "true") }}
MailNotification\req_ssl={{ lower (default .Env.QBITTORRENT_MAILNOTIFICATION_REQ_SSL "false") }}
MailNotification\sender={{ default .Env.QBITTORRENT_MAILNOTIFICATION_SENDER "qBittorrent_notification@example.com" }}
MailNotification\smtp_server={{ default .Env.QBITTORRENT_MAILNOTIFICATION_SMTP_SERVER "smtp.changeme.com" }}
MailNotification\username="{{ default .Env.QBITTORRENT_MAILNOTIFICATION_USERNAME "" }}"
Queueing\IgnoreSlowTorrents={{ lower (default .Env.QBITTORRENT_QUEUEING_IGNORESLOWTORRENTS "true") }}
Queueing\MaxActiveDownloads={{ default .Env.QBITTORRENT_QUEUEING_MAXACTIVEDOWNLOADS "7" }}
Queueing\MaxActiveTorrents={{ default .Env.QBITTORRENT_QUEUEING_MAXACTIVETORRENTS "7" }}
Queueing\MaxActiveUploads={{ default .Env.QBITTORRENT_QUEUEING_MAXACTIVEUPLOADS "2" }}
Queueing\QueueingEnabled={{ lower (default .Env.QBITTORRENT_QUEUEING_QUEUEINGENABLED "false") }}
Scheduler\Enabled={{ lower (default .Env.QBITTORRENT_SCHEDULER_ENABLED "false") }}
Scheduler\days={{ default .Env.QBITTORRENT_SCHEDULER_DAYS "0" }}
Scheduler\end_time={{ default .Env.QBITTORRENT_SCHEDULER_END_TIME "" }}
Scheduler\start_time={{ default .Env.QBITTORRENT_SCHEDULER_START_TIME "" }}
WebUI\Address={{ default .Env.QBITTORRENT_WEBUI_ADDRESS "0.0.0.0" }}
WebUI\AlternativeUIEnabled={{ lower (default .Env.QBITTORRENT_WEBUI_ALTERNATIVEUIENABLED "false") }}
WebUI\AuthSubnetWhitelist={{ default .Env.QBITTORRENT_WEBUI_AUTHSUBNETWHITELIST "" }}
WebUI\AuthSubnetWhitelistEnabled={{ lower (default .Env.QBITTORRENT_WEBUI_AUTHSUBNETWHITELISTENABLED "false") }}
WebUI\BanDuration={{ default .Env.QBITTORRENT_WEBUI_BANDURATION "3600" }}
WebUI\CSRFProtection={{ lower (default .Env.QBITTORRENT_WEBUI_CSRFPROTECTION "true") }}
WebUI\ClickjackingProtection={{ lower (default .Env.QBITTORRENT_WEBUI_CLICKJACKINGPROTECTION "true") }}
WebUI\CustomHTTPHeaders={{ default .Env.QBITTORRENT_WEBUI_CUSTOMHTTPHEADERS "" }}
WebUI\CustomHTTPHeadersEnabled={{ lower (default .Env.QBITTORRENT_WEBUI_CUSTOMHTTPHEADERSENABLED "false") }}
WebUI\Enabled={{ lower (default .Env.QBITTORRENT_WEBUI_ENABLED "true") }}
WebUI\HTTPS\CertificatePath={{ default .Env.QBITTORRENT_WEBUI_HTTPS_CERTIFICATEPATH "" }}
WebUI\HTTPS\Enabled={{ lower (default .Env.QBITTORRENT_WEBUI_HTTPS_ENABLED "false") }}
WebUI\HTTPS\KeyPath={{ default .Env.QBITTORRENT_WEBUI_HTTPS_KEYPATH "" }}
WebUI\HostHeaderValidation={{ lower (default .Env.QBITTORRENT_WEBUI_HOSTHEADERVALIDATION "true") }}
WebUI\LocalHostAuth={{ lower (default .Env.QBITTORRENT_WEBUI_LOCALHOSTAUTH "false") }}
WebUI\MaxAuthenticationFailCount={{ default .Env.QBITTORRENT_WEBUI_MAXAUTHENTICATIONFAILCOUNT "5" }}
WebUI\Port={{ default .Env.QBITTORRENT_WEBUI_PORT "8080" }}
WebUI\RootFolder={{ default .Env.QBITTORRENT_WEBUI_ROOTFOLDER "" }}
WebUI\SecureCookie={{ lower (default .Env.QBITTORRENT_WEBUI_SECURECOOKIE "true") }}
WebUI\ServerDomains={{ default .Env.QBITTORRENT_WEBUI_SERVERDOMAINS "*" }}
WebUI\SessionTimeout={{ default .Env.QBITTORRENT_WEBUI_SESSIONTIMEOUT "3600" }}
WebUI\UseUPnP={{ lower (default .Env.QBITTORRENT_WEBUI_USEUPNP "true") }}
WebUI\Username="{{ default .Env.QBITTORRENT_WEBUI_USERNAME "username" }}"
